/* Tablet */

@media (max-width:1000px) {

    /* header */
    .header-list {
        display: none;
    }

    .menu-icon {
        visibility: visible;
    }

    /* body */

    .wrapper-left {
        width: 100%;
    }

    .wrapper-left img {
        display: block;
        margin: 20px auto;
        width: 50%;
    }

    .wrapper-right {
        width: 100%;
    }

    .wrapper-right h2 {
        text-align: center;
        font-size: 24px;
        margin-top: 20px;
    }

    .btn {
        display: block;
    }

    /* populer */
    .populer-card {
        width: 100%;
    }
}

/* Handphone */
@media (max-width:670px) {

    /* header */
    .header-list {
        display: none;
    }

    .menu-icon {
        visibility: visible;
    }

    /* body */
    /* wrapper */
    .wrapper-left {
        width: 100%;
    }

    .wrapper-left img {
        display: block;
        margin: 20px auto;
        width: 100%;
    }

    .wrapper-right {
        width: 100%;
    }

    .wrapper-right h2 {
        text-align: center;
        font-size: 24px;
        margin-top: 20px;
    }

    .btn {
        display: block;
    }

    /* populer */
    .populer-card {
        width: 100%;
    }

    /* testimonial */
    .testimonial-card {
        width: 100%;
    }

    .testimonial-body .img-profile {
        display: none;
    }

    /* contact */
    .contact{
        text-align: center;
    }

    .contact hr{
        margin:0 auto 30px auto;
    }

    .contact-left{
        width: 100%;
    }

    .btn-submit{
        display: block;
        width: 100%;
    }
}