/* Tablet */

@media (max-width:1000px) {

    /* header */
    .header-list {
        display: none;
    }

    .menu-icon {
        visibility: visible;
    }

    /* main */
    main h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    main p {
        margin-top: 15px;
        text-align: center;
        font-size: 18px;
    }

    /* body */

    .wrapper-left {
        width: 100%;
    }

    .wrapper-left img {
        display: block;
        margin: 20px auto;
        width: 50%;
    }

    .wrapper-right {
        width: 100%;
    }

    .wrapper-right h2 {
        text-align: center;
        font-size: 24px;
        margin-top: 20px;
    }

    .btn {
        display: block;
    }

    /* populer */
    .populer-card {
        width: 50%;
        margin: 10px auto;
        padding-right: 10px;
    }

    /* testimonial */
    .testimonial-card {
        width: 100%;
        height: auto;
    }

    .testimonial-body .img-profile {
        display: none;
    }

    /* team */
    .team-card {
        margin: 10px auto;
        padding-right: 5px;
        width: 50%;
        height: auto;
    }

    /* contact */
    .contact h2 {
        text-align: center;
    }

    .contact hr {
        margin: 0 auto 30px auto;
    }

    .contact-left {
        width: 100%;
    }

    .btn-submit {
        display: block;
        width: 100%;
    }

    /* footer */
    footer {
        width: 100%;
        text-align: left;
    }

    .logo {
        width: 100%;
    }

    footer .about-us {
        width: 100%;
    }

    footer .txt-content {
        width: 100%;
    }

    footer .latest-post {
        width: 100%;
        margin: 20px 10px;
    }

    footer .latest-post h2 {
        padding: 20px 0;
    }

    .latest-post .post li {
        list-style: none;

    }

    .latest-post .post a {
        color: #000;
    }


    .footer-contact h1 {
        text-align: left;
    }
}

/* Handphone */
@media (max-width:670px) {

    /* header */
    .header-list {
        display: none;
    }

    .menu-icon {
        visibility: visible;
    }

    /* main */
    main h2{
        text-align: center;
        margin-bottom: 20px;
    }

    main p{
        margin-top: 15px;
        text-align: center;
        font-size: 18px;
    }

    /* body */
    /* wrapper */
    .wrapper-left {
        width: 100%;
    }

    .wrapper-left img {
        display: block;
        margin: 20px auto;
        width: 100%;
    }

    .wrapper-right {
        width: 100%;
    }

    .wrapper-right h2 {
        text-align: center;
        font-size: 24px;
        margin-top: 20px;
    }

    .btn {
        display: block;
    }

    /* populer */
    .populer-card {
        width: 100%;
    }

    /* testimonial */
    .testimonial-card {
        width: 100%;
    }

    .testimonial-body .img-profile {
        display: none;
    }

    /* team */
    .team-card{
        margin:10px auto;
        width: 100%;
    }

    /* contact */
    .contact h2{
        text-align: center;
    }

    .contact hr{
        margin:0 auto 30px auto;
    }

    .contact-left{
        width: 100%;
    }

    .btn-submit{
        display: block;
        width: 100%;
    }

    footer{
        width: 100%;
        text-align: left;
    }

    .logo{
        width: 100%;
    }

    footer .about-us {
        width: 100%;
    }

    footer .txt-content {
        width: 100%;
    }

    footer .latest-post {
        width: 100%;
        margin: 20px 10px;
    }

    footer .latest-post h2 {
        padding: 20px 0;
    }

    .latest-post .post li {
        list-style: none;
        
    }

    .latest-post .post a {
        color: #000;
    }
    

    .footer-contact h1 {
        text-align: left;
    }
}