* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* Header */
li {
    list-style: none;
}

header {
    background-color: #fff;
    height: 80px;
    width: 100%;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-logo {
    float: left;
    margin-top: 23px;
}

.header-logo img {
    width: 200px;
}

.menu-icon {
    color: black;
    float: right;
    padding: 33px 50px;
    visibility: hidden;
}

.header-list {
    float: left;
    padding: 2px 50px;
}

.header-list li {
    float: left;

}

.header-list li a {
    line-height: 80px;
    padding: 0px 25px;
    display: block;
    color: #000;
}

.header-list li a:hover {
    color: #01A76A;
    border-bottom: 2px solid #01A76A;
}

.active {
    font-weight: bold;
}

/* main */
main{
    padding: 100px 0;
    background-image: url("../img/bg.webp");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

main h2{
    font-size: 40px;
    color: #fff;
    margin-top: 60px;
    font-weight: bold;
}

main p{
    margin-top: 10px;
    color: #fff;
}

/* Body */
.clear {
    clear: both;
}

.wrapper {
    margin-top: 130px;
}

.wrapper-left {
    position: relative;
    width: 40%;
    float: left;
}

.wrapper-left img {
    width: 400px;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.wrapper-left:hover img {
    opacity: 0.9;
}


.wrapper-left:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.wrapper-right {
    width: 60%;
    float: left;
}

.wrapper-right h2 {
    font-size: 28px;
    padding-bottom: 10px;
    line-height: 40px;
    font-weight: 700;
}

.wrapper-right p {
    font-size: 16px;
    text-align: justify;
    color: #000;
    font-weight: 300;
}

.wrapper-right a {
    margin: 20px 0 100px 0;
}

.btn {
    padding: 12px 24px;
    color: #fff;
    display: inline-block;
    opacity: 0.8;
    border-radius: 5px;
    text-align: center;
}

.btn:hover {
    opacity: 1;
}

.btn-explore {
    background-color: #01A76A;
}

.icon-arrow {
    margin-left: 10px;
}

.populer {
    width: 100%;
    margin: 40px auto;
    padding: 30px 0;
    float: left;
}

.populer h2 {
    text-align: center;
    padding-top: 50px;
    color: #000;
    text-shadow: 1px 1px #fff;
}

.populer hr {
    margin: 10px auto 20px auto;
    border: 2px solid #01A76A;
    width: 150px;
}

.populer-card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 350px;
    border-radius: 5px;
    margin: 20px 10px;
    float: left;
}

.populer-card-container {
    position: relative;
    width: 100%;
}

.populer-card img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 250px;
}

.populer-card-container:hover img {
    opacity: 0.9;
}

.populer-card-container:hover .overlay {
    opacity: 1;
}

.body-card {
    padding: 20px 15px;
}

.body-card p {
    font-size: 16px;
    margin: 20px 0;
}

/* Testimonial */
.testimonial {
    margin: 100px 0;
}

.testimonial h2 {
    text-align: center;
    padding-top: 50px;
    color: #000;
    text-shadow: 1px 1px #fff;
}

.testimonial hr {
    margin: 10px auto 20px auto;
    border: 2px solid #01A76A;
    width: 150px;
}

.testimonial-card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 350px;
    border-radius: 5px;
    margin: 20px 10px;
    float: left;
}

.testimonial-body {
    padding: 20px 15px;
}

.testimonial-body h4 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.testimonial-body .img-star {
    margin: 20px auto;
    display: block;
}

.testimonial-body p {
    font-size: 16px;
    margin: 20px 0;
    text-align: center;
}

.testimonial-profile {
    text-align: center;
}

.testimonial-profile h5 {
    font-size: 16px;
    margin-top: 30px;
}

.testimonial-profile p {
    margin-top: -3px;
    font-weight: 200;
}

.testimonial-body .img-profile {
    display: block;
    margin: 0 auto;
    width: 80px;
}

.testimonial .img-dots {
    display: block;
    padding-top: 20px;
    margin: 0 auto;
}

/* tim */

.team h2 {
    text-align: center;
    padding-top: 50px;
    color: #000;
}

.team hr {
    border: 2px solid #01A76A;
    width: 150px;
    margin: 0 auto 30px auto;
}

.team-card {
    transition: 0.3s;
    width: 350px;
    border-radius: 5px;
    margin: 20px 10px;
    float: left;
}

.team-card-container {
    position: relative;
    width: 100%;
}

.team-card img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 250px;
}

.team-card-container:hover img {
    opacity: 0.9;
}

.team-card-container:hover .overlay {
    opacity: 1;
}


/* contact */
.contact {
    margin: 100px 0;
}

.contact h2 {
    padding-top: 50px;
    color: #000;
    text-shadow: 1px 1px #fff;
}

.contact hr {
    border: 2px solid #01A76A;
    width: 150px;
    margin-bottom: 30px;
}

.contact-left{
    width: 50%;
}

input[type=text],input[type=email],textarea{
    width: 100%;
    border:1px solid #ccc;
    border-radius: 5px;
    padding: 12px;
    margin: 6px 0 16px 0;
    box-sizing: border-box;
    resize: vertical;
}

.btn-submit {
    background-color: #01A76A;
    border: none;
}

/* footer */
footer {
    height: 180px;
}

footer .logo {
    width: 200px;
}

footer .about-us {
    float: left;
    width: 350px;
    margin: 0px 10px;
    text-align: justify;
}

footer .txt-content {
    width: 80%;
    display: inline-block;
    margin: 15px 0 15px 0;
    font-size: 12px;
}

footer .social-media {
    color: black;
}

footer .social-media .icon-sosmed{
    margin-right: 10px;
    color: #b3aeb5;
}

footer .social-media .icon-sosmed:hover {
    color: #01A76A;
}

footer .latest-post {
    float: left;
    width: 350px;
    margin: 0px 10px;
}

footer .latest-post h2 {
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 10px;
}

.latest-post .post li {
    list-style: none;
}

.latest-post .post a {
    font-size: 12px;
    color: #000;
}

.latest-post .post a:hover{
    color: #01A76A;
}

footer .footer-contact {
    float: left;
    width: 350px;
    margin: 0px 10px;
}

.footer-contact h1 {
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 10px;
}

.footer-contact p {
    font-size: 14px;
}

.footer-contact .contact-icon{
    margin-right: 10px;
    color: #b3aeb5;
}
